.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	
	margin-left:0;
	
}

.input-group {
	
	margin-top: 25px;
	
}

.top-spacing {
	
	margin-top: 25px;
	
}

.appTitleSeparator {
	transform: rotate(90deg);
	width : 32%;
	border-bottom: 1.5px solid #6C7C8F; 
	margin-left: 221px;
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: 767px) {
	.table-scrollable {
		height: 94%;
	}
	.content-side {
  		width: calc(100% - 185px);
	}
	
  	.content {
  		height: calc(100% - 142px);
		margin-left: 30px; 
		margin-bottom: 30px; 
		margin-top: 30px;
	}
	
	.pageTitle {
		height : 82px;
		 background : linear-gradient(to right, #1f2329, #93A5C2);
		 line-height: 82px;
		 text-align: center;
	}
	
	#textForPhone {
		display: none;
	}
}

@media (max-width: 767px) {
	.table-scrollable {
		height: 79%;
	}
 	.content {
  		height: 100%;
		margin-right: 10px; 
		margin-left: 10px; 
		margin-top: 19px;
	}
	
	.pageTitle {
		display: none;
		height : 82px;
		 background : linear-gradient(#1f2329, #6C7C8F);
		 line-height: 82px;
		 text-align: center;
	}
	
	.body {
		line-height: 0px;
	}
	
	.appTitleSeparator{
		visibility: hidden;
	}
	
	#textForPhone{
		visibility: true;
	}
	
	label {
		margin-bottom: 12px;
	}
	.shrink {
		text-align: center;
		width:100%;
	}
	
}

.content-side {
	position:absolute;
	display: inline-block;
	height: 100%;
}

.table-scrollable {
	overflow-y: scroll;
	display: block;
}

#alertNotif {
	margin-bottom: 0;
	text-align: center;
}