<body ng-controller="EmployeesController">
  	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addEmployee" style = "margin-bottom: 20px;" title = 'Add an employee to table'>Add Employee</button>
	  <!-- Table -->
	  <table class = "table table-striped table-scrollable">
		  <thead>
		      <tr style = "text-align:center;">
		      	<th></th>
		        <th></th>
		        <th></th>
		        <th>ID</th>
				<th>Name</th>
		        <th>Skill</th>
		        <th>Free</th>
		        <th>Tasks threshold</th>
		        <th>Tasks</th>
		      </tr>
	      </thead>
	      <tbody>
		      <tr ng-repeat="employee in employees" style = "text-align:left;">
	     		<td style = "width: 50px;pading-left:10px;"><a href = "" style = "color: black;" title='Delete employee'><i class="fa fa-minus" aria-hidden="true" ng-click = "deleteEmployee(employee)"></i></a></td>
		        <td style = "width: 50px;"><a href = "" style = "color: black;" title='Edit employee'><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editEmployee" ng-click = "updateEmployee(employee)"></i></a></td>
		        <td style = "width: 50px;"><a href = "" style = "color: black;" title='Assign tasks to employee'><i class="fa fa-tasks" aria-hidden="true" data-toggle="modal" data-target="#assignTasks" ng-click = "assignTasks(employee)"></i></a></td>
		        <td style = "width: 150px;">{{employee.id}}</td>
				<td>{{employee.name}}</td>
		        <td>{{employee.skill}}</td>
		        <td>{{employee.free}}</td>
		        <td style = "width: 200px;">{{ employee.tasksThreshold}} </td>
		        <td><span  ng-repeat = "task in employee.tasks">{{task.name + " " + task.taskId  + ", "}}</span></td>
		      </tr>
	      </tbody>
    </table>
    
    <!-- Modal -->
	<div id="addEmployee" class="modal fade" role="dialog" ng-controller = "AddEmployeeController">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Employee</h4>
	      </div>
	      <div class="modal-body">
	        <form>
				<div class="form-group row">
				    <label for="inputName" class="col-form-label" style = "text-align: center;width:100%;">Name</label>
				    <div>
						<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model = "employee.name">
				    </div>
				    
				    <label for="inputName" class="col-form-label" style = "text-align: center;width:100%;">Email</label>
				    <div>
						<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model = "employee.email">
				    </div>
				    
				    <label for="inputName" class="col-form-label" style = "text-align: center;width:100%;">Password</label>
				    <div>
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model = "employee.password">
				    </div>
				    
					<label class="col-sm-2 col-form-label shrink" for="skills" style = "margin-top: 22px;">Skill</label>
					<div class="col-sm-10" style = "margin-top: 15px; text-align: -webkit-center;">
						<select class="form-control" id="skills" style = "width: 80%;" ng-model = "employee.skill">
					 	<option ng-repeat = "s in skills">{{s}}</option>
					 </select>
					</div>
				</div>
			</form>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default" ng-click = "addNewEmployee()">Add</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
     <!-- Modal -->
	<div id="editEmployee" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Edit Employee</h4>
	      </div>
	      <div class="modal-body">
	        <form>
				<div class="form-group row">
				    <label for="inputName" class="col-form-label" style = "text-align: center;width:100%;">Name</label>
				    <div>
						<input type="text" class="form-control" id="inputSelectedName" placeholder="Name" ng-model = "selectedEmployee.name">
				    </div>
				  
					<label class="col-sm-2 col-form-label shrink" for="skills" style = "margin-top: 22px;">Skill</label>
					<div class="col-sm-10" style = "margin-top: 15px; text-align: -webkit-center;">
						<select class="form-control" id="selectedSkills" style = "width: 80%;" ng-model = "selectedEmployee.skill">
						<option ng-repeat = "s in skills">{{s}}</option>
					 </select>
					</div>
				</div>
			</form>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default" ng-click = "editEmployee()">Edit</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
    <!-- Modal -->
	<div id="assignTasks" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content" style = "width:500px;">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select Tasks for Employee {{ selectedEmployee.id + ". " + selectedEmployee.name }}</h4>
	      </div>
	      <div class="modal-body">
        	<table class = "table ">
        	<thead>
				      <tr>
				      	<th></th>
				        <th>ID</th>
						<th>Name</th>
				        <th>Skills Required</th>
				      </tr>
				   </thead>
				      <tbody>
					      <tr ng-repeat = "task in tasksList" class="clickable-row">
					      	<td><input type = "checkbox" ng-model = "task.toAdd"></td>
					        <td style = "width: 100px;">{{task.taskId}}</td>
							<td>{{task.name}}</td>
					        <td>{{task.employeesNeeded}}</td>
					      </tr>
				      </tbody>
		    </table>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default" ng-click = "addTasksToEmployee(tasksList)">Add</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    <script src = "../js/main.js"></script>
    <script src = "../js/app-service.js"></script>
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
</body>
