  <body ng-controller="LoggedUserTasksController">
  
	  <!-- Table -->
	  <table class = "table table-striped table-scrollable" data-link="row">
       <thead>
	      <tr>
	        <th>ID</th>
			<th>Name</th>
	        <th>Task Members</th>
	        <th>Description</th>
	        <th>Is done</th>
	        <th>Employees Active</th>
	      </tr>
      </thead>
      <tbody>
	      <tr ng-repeat="task in loggedUser.tasks">
	        <td style = "width: 150px;">{{task.taskId}}</td>
			<td>{{task.name}}</td>
	        <td style = "width: 200px;"><span ng-repeat = "employee in employees"><span ng-repeat = "employeeTask in employee.tasks" ng-if = "task.taskId == employeeTask.taskId" >{{employee.id + ". " + employee.name  + ", "}}</span></span></td>
	        <td>{{task.description}}</td>
	        <td>{{task.done}}</td>
	        <td>{{task.employeesActive}}</td>
	      </tr>
      </tbody>
    </table>
    
    <script src = "../js/main.js"></script>
    <script src = "../js/app-service.js"></script>
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css"/>
  </body>
