  <body ng-controller="TasksController">
  
  	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addEmployee" style = "margin-bottom: 20px;" title='Add a task to table'>Add Task</button>
	  <!-- Table -->
	  <table class = "table table-striped table-scrollable" data-link="row">
       <thead>
	      <tr>
	      	<th></th>
	        <th></th>
	        <th></th>
	        <th>ID</th>
			<th>Name</th>
	        <th>Nr. of employees needed</th>
	        <th>Skills needed</th>
	        <th>Task Members</th>
	        <th>Description</th>
	        <th>Is done</th>
	        <th>Employees Active</th>
	      </tr>
      </thead>
      <tbody>
	      <tr ng-repeat="task in tasks">
	     	<td style = "width: 50px;pading-left:10px;"><a href = "" style = "color: black;" title='Delete task'><i class="fa fa-minus" aria-hidden="true" ng-click = "deleteTask(task)"></i></a></td>
	        <td style = "width: 50px;"><a href = "" style = "color: black;" title='Edit task'><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editTask" ng-click = "updateTask(task)"></i></a></td>
	        <td style = "width: 50px;"><a href = "" style = "color: black;" title='Assign employees to task'><i class="fa fa-users" aria-hidden="true" data-toggle="modal" data-target="#assignEmployees" ng-click = "assignEmployees(task)"></i></a></td>
	        <td style = "width: 150px;">{{task.taskId}}</td>
			<td>{{task.name}}</td>
	        <td>{{task.employeesThreshold}}</td>
	        <td>{{task.employeesNeeded}}</td>
	        <td style = "width: 200px;"><span ng-repeat = "employee in employees"><span ng-repeat = "employeeTask in employee.tasks" ng-if = "task.taskId == employeeTask.taskId" >{{employee.id + ". " + employee.name  + ", "}}</span></span></td>
	        <td>{{task.description}}</td>
	        <td>{{task.done}}</td>
	        <td>{{task.employeesActive}}</td>
	      </tr>
      </tbody>
    </table>
    
    <!-- Modal -->
	<div id="addEmployee" class="modal fade" role="dialog" ng-controller = "AddTaskController">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Task</h4>
	      </div>
	      <div class="modal-body">
	        <form>
				<div class="form-group row">
				    <label for="inputName" class="col-form-label" style = "text-align: center;width:100%;">Name</label>
				    <div>
						<input type="text" class="form-control" id="inputName" style = "margin-bottom: 15px;" placeholder="Name" ng-model = "task.name">
				    </div>
				    <label for="inputDescription" class=" col-form-label" style = "text-align: center;width:100%;">Description</label>
				    <div>
						<!--<input type="text" class="form-control" id="inputDescription" style = "margin-bottom: 15px;" placeholder="Description" ng-model = "task.description"> -->
						<textarea class="form-control" ng-model = "task.description" placeholder="Description" style = "resize: vertical;height: 125px;"></textarea>
				    </div>
				  
					<label class="col-form-label" for="skills" style = "margin-top: 22px;text-align: center;width:100%;">Employees needed</label>
					<div class="col-sm-10" style = "margin-top: 15px;display: flex;width:100%;padding: 0;">
						<select class="form-control" id="skills" style = "width: 60%;display: inline-block;" ng-model = "code.skill1">
						<option ng-repeat = "s in skills" value = "{{$index}}">{{s}}</option>
						</select>
						<input type="text" class="form-control" id="inputName" style = "margin-left: 5px;margin-bottom: 15px;width: 50px;display: inline-block;" placeholder="Nr." ng-model = "code.nrOfEmployeesNeeded1">
						<button class="btn btn-default" ng-click = "showDiv2={display: 'flex'}" style = "height: 34px;float: right;margin-left:30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="col-sm-10" ng-style = "showDiv2" style = "margin-top: 15px;display: none;width:100%;padding: 0;">
						<select class="form-control" id="skills" style = "width: 60%;display: inline-block;" ng-model = "code.skill2">
						<option ng-repeat = "s in skills" value = "{{$index}}">{{s}}</option>
						</select>
						<input type="text" class="form-control" id="inputName" style = "margin-left: 5px;margin-bottom: 15px;width: 50px;display: inline-block;" placeholder="Nr." ng-model = "code.nrOfEmployeesNeeded2">
						<button class="btn btn-default" ng-click = "showDiv3={display: 'flex'}" style = "height: 34px;float: right;margin-left:30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="col-sm-10" ng-style = "showDiv3" style = "margin-top: 15px;display: none;width:100%;padding: 0;">
						<select class="form-control" id="skills" style = "width: 60%;display: inline-block;" ng-model = "code.skill3">
						<option ng-repeat = "s in skills" value = "{{$index}}">{{s}}</option>
						</select>
						<input type="text" class="form-control" id="inputName" style = "margin-left: 5px;margin-bottom: 15px;width: 50px;display: inline-block;" placeholder="Nr." ng-model = "code.nrOfEmployeesNeeded3">
						<button class="btn btn-default" ng-click = "showDiv4={display: 'flex'}" style = "height: 34px;float: right;margin-left:30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="col-sm-10" ng-style = "showDiv4" style = "margin-top: 15px;display: none;width:100%;padding: 0;">
						<select class="form-control" id="skills" style = "width: 60%;display: inline-block;" ng-model = "code.skill4">
						<option ng-repeat = "s in skills" value = "{{$index}}">{{s}}</option>
						</select>
						<input type="text" class="form-control" id="inputName" style = "margin-left: 5px;margin-bottom: 15px;width: 50px;display: inline-block;" placeholder="Nr." ng-model = "code.nrOfEmployeesNeeded4">
						<button class="btn btn-default" ng-click = "showDiv5={display: 'flex'}" style = "height: 34px;float: right;margin-left:30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="col-sm-10" ng-style = "showDiv5" style = "margin-top: 15px;display: none;width:100%;padding: 0;">
						<select class="form-control" id="skills" style = "width: 60%;display: inline-block;" ng-model = "code.skill5">
						<option ng-repeat = "s in skills" value = "{{$index}}">{{s}}</option>
						</select>
						<input type="text" class="form-control" id="inputName" style = "margin-left: 5px;margin-bottom: 15px;width: 50px;display: inline-block;" placeholder="Nr." ng-model = "code.nrOfEmployeesNeeded5">
						<button class="btn btn-default" ng-click = "showDiv3={display: 'flex'}" style = "height: 34px;float: right;margin-left:30px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
				</div>
			</form>
	      </div>
	      <div class="modal-footer" style = "display: flex; text-align:-webkit-auto; align-items:center; padding:0;">
	      	<input type = "checkbox" ng-model = "autoAssign" style = "margin:0;"><span style = "font-size: 13px;">Auto Assign Employees</span></input>
	      	<button class="btn btn-default" ng-click = "addNewTask()" style = "margin-left:25px;">Add</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	<!-- Modal -->
	<div id="assignEmployees" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select Employees for Task {{ selectedTask.taskId }}</h4>
	      </div>
	      <div class="modal-body">
        	<table class = "table ">
        	<thead>
				      <tr>
				      	<th></th>
				        <th>ID</th>
						<th>Name</th>
				        <th>Skill</th>
				      </tr>
				   </thead>
				      <tbody>
					      <tr ng-repeat = "employee in employeeList" class="clickable-row">
					      	<td><input type = "checkbox" ng-model = "employee.toAdd"></td>
					        <td style = "width: 150px;">{{employee.id}}</td>
							<td>{{employee.name}}</td>
					        <td>{{employee.skill}}</td>
					      </tr>
				      </tbody>
		    </table>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default" ng-click = "addEmployeesToTask(employeeList)">Add</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Modal -->
	<div id="editTask" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select Employees for Task {{ selectedTask.taskId }}</h4>
	      </div>
	      <div class="modal-body">
        	<table class = "table ">
        	<thead>
				      <tr>
				      	<th></th>
				        <th>ID</th>
						<th>Name</th>
				        <th>Skill</th>
				      </tr>
				   </thead>
				      <tbody>
					      <tr ng-repeat = "employee in employeeList" class="clickable-row">
					      	<td><input type = "checkbox" ng-model = "employee.toAdd"></td>
					        <td style = "width: 150px;">{{employee.id}}</td>
							<td>{{employee.name}}</td>
					        <td>{{employee.skill}}</td>
					      </tr>
				      </tbody>
		    </table>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default" ng-click = "addEmployeesToTask(employeeList)">Add</button>	
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    <script src = "../js/main.js"></script>
    <script src = "../js/app-service.js"></script>
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css"/>
  </body>
