<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/styles.css"/>
<link rel="stylesheet" href="css/menu.css"/>
<link rel="stylesheet" href="css/login.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css"/>

<body class = "body" ng-app="myApp" style = "position: relative; height: 100vh">
<div class="nav-side-menu" style = "left: 0; top:0;">
    <div class="brand" ng-controller = "PageTitleController">Task Management <span id = "textForPhone">- {{ pageTitleHidden }}</span>
    	<!-- <hr class = "appTitleSeparator"></hr> -->
    </div>
    <!-- <hr style = "border-bottom: 1.5px solid #6C7C8F;border-top:0; margin-top:0;"></hr>  -->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#/!">
                  <i class="fa fa-home"></i> Home
                  </a>
                </li>
                
                <li>
                  <a href="#!employees_list">
                  	<i class="fa fa-users"></i> Employees
                  </a>
                </li>
                
                <li>
                  <a href="#!tasks_list">
                  	<i class="fa fa-tasks"></i> Tasks
                  </a>
                </li>
                
                <li>
                  <a href="#!my_tasks">
                  	<i class="fa fa-briefcase" aria-hidden="true"></i> My Tasks
                  </a>
                </li>
                
				<!-- Commented in case of submenu item needed
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a><i class="fa fa-list-ol"></i> Lists <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  	<li><a href = "#!users"> <i class="fa fa-chevron-right" aria-hidden="true"></i> Users list</a></li>
	       			<li><a href = "#!offices"> <i class="fa fa-chevron-right" aria-hidden="true"></i> Offices list</a></li>
	        		<li><a href = "#!documents"> <i class="fa fa-chevron-right" aria-hidden="true"></i> Documents list</a></li>
	        		<li><a href = "#!flow"> <i class="fa fa-chevron-right" aria-hidden="true"></i> Flow list</a></li>
                </ul>
                -->
            </ul>
     </div>
</div>

<div class = "content-side">
	<div class = "pageTitle" ng-controller = "PageTitleController">
		<p style = "position: absolute; margin-left:35px; color:#e1ffff; font-size: 1.3em;">{{ pageTitle }}</p>
		<div class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    <a class="dropdown-toggle dropdown" data-toggle="dropdown">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <strong> {{ loggedUserName }} </strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8" style = "height: 140px;">
                                        <p class="text-left"><strong>{{ loggedUserName }}</strong></p>
                                        <p class="text-left small push-up">{{ loggedUser.email }}</p>
                                        <p class="text-left">
                                            <!-- <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>  -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a th:href="@{/logout}" ng-click="logout()" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
		<hr style = "height : 80.5px;border-bottom: 1.5px solid #6C7C8F;border-top:0; margin-top:0;"></hr>
	</div>
	
	<!-- Notification Modal -->
	<div id="notifModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content" ng-controller = "notificationController">
    		<div id = "alertNotif" class="alert alert-{{ notification.type }}"><strong>{{ notification.title }}</strong><p>{{ notification.text }}</p></div>
	    </div>
	  </div>
	</div>
	
	<div class = "content">
		<ng-view></ng-view>
	</div>
</div>
<script src = "js/main.js"></script>
<script src = "js/app-service.js"></script>
<script>
    $(".nav-side-menu li").on("click", function() {
      $(".nav-side-menu li").removeClass("active");
      $(this).addClass("active");
    });
//    window.setTimeout(function() { $("#notifModal").hide(); }, 2000);
</script>
</body>
</html>