<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body  ng-controller="LoginController">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <!--
        <form th:action="@{/login}" ng-submit="getLoggedUser()" method="post">
            <div><label> User Name: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        -->
        <form  th:action="@{/login}" id="signin" class="navbar-form navbar-left" method="post">
             <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                 <input id="username" type="username" class="form-control" name="username" value="" placeholder="Email Address"/>                                        
             </div>

             <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                 <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password"/>                                        
             </div>

             <button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
        </form>
        <link rel="stylesheet" href="css/login.css"/>
        <script src = "js/main.js"></script>
        
    </body>
</html>